@import url('./reset.css');
@import url('./header.css');
@import url('./helper.css');

:root {
  --base-bg-color: #eff2eb;
  --color-sage-100: #F7F5F1;
  --color-sage-200: #CED8CE;
  --color-sage-300: #A6BFAA;
  --color-sunset-100: #EDD2CE;
  --color-sunset-200: #DFAA84;
  --color-sunset-300: #CE636E;
  --color-black-50: #666666;
  --color-black-100: #4F4F4F;
  --rem: 12px;
}

html {
  line-height: 1.5rem;
  font-size: var(--rem);
}
body {
  background-color: var(--color-sage-100);
  color: var(--color-black-100);
}

*:focus {
  outline: var(--color-sunset-200) auto 1px;
}

main {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 0.7em;
}

a {
  color: var(--color-sage-300);
  transition: .2s color ease-out;
}

a:hover, a.active {
  color: var(--color-sunset-300);
}

a[target="new"] {
  display: inline-flex;
  gap: 0.3rem;
}

a[target="new"]:after {
  content: url(/icons/open_in_new.svg);
  min-width: 1.5rem;
}

code.inline {
  border: 1px var(--color-sage-300) solid;
  border-radius: 0.2rem;
  background-color: var(--color-sage-200);
  color: var(--color-black-50);
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* SM */
@media (min-width: 640px) { 
  :root { --rem: 12px; }
  .container { max-width: 640px }
}	
/* MD */
@media (min-width: 768px) { 
  :root { --rem: 14px; }
  .container { max-width: 768px }
}	
/* LG */
@media (min-width: 1024px) { 
  :root { --rem: 16px; }
  .container { max-width: 1024px }
}	
/* XL */
@media (min-width: 1280px) { 
  .container { max-width: 1280px }
}	
